app/controllers
app/models
app/views
app/View/ViewDespensa2.html
app/View/ViewDespensa3.html
app/View/ViewDespensa4.html
app/View/ViewDespensa5.html
app/View/ViewDespensaNF.html
app/View/ViewDespensa.inc.php
app/View/ViewGenerar2.html
app/View/ViewGenerar3.html
app/View/ViewGenerarNF.html
app/View/ViewLoginNF.html
app/View/ViewLogin.inc.php
app/View/ViewPerfil2.html
app/View/ViewModalGenerar.html
app/View/ViewPerfilNF.html
app/View/ViewPrincipal.inc.php
app/View/ViewPrincipal2.html
app/View/ViewPrincipal3.html
app/View/ViewPrincipalNF.html
app/View/ViewRecetas2.html
app/View/ViewRecetas3.html
app/View/ViewRecetas4.html
app/View/ViewRecetasNF.html
app/View/ViewRegistroNF.html
public/img/LucideUser.png
storage/recipes/*
storage/uploads/profile/*
storage/uploads/recipeImages/*
app/Core/env.inc.php
peticiones.rest
vendor/
frontend/node_modules/
